@import "./mixin.scss";
.clickBtn {
    @include whSet(unset, unset, 0, 0.5rem 0);
    text-decoration: none;
    color:$colorBlack;
    border: none;
    border-bottom: 1px solid $colorGray;
    background-color: transparent;
    cursor: pointer;
    &::before{
        content:"»  ";
    }
    &:hover {
        color: $colorWhite;
        color: $colorB;
        border-bottom: 1px solid $colorB;
    }
}
