@import "./mixin.scss";
$canvasHiddenTime: 0.5s;
main {
    .section1 {
        width: 100%;
        min-height: calc(100vh - 6rem);
        .banner {
            position: relative;
            overflow: hidden;
            img {
                @include whSet(100%, unset, 0, 0);
                @include position(relative, -5%, 0);
                z-index: -1;
                aspect-ratio: attr(400) / attr(317); 
                display: block;
            }
            @include md {
                height: unset;
            }
            .bannerUp {
                @include position(absolute, 0, 0);
                cursor: crosshair;
                .canvas {
                    opacity: 1;
                    z-index: unset;
                    transition: opacity $canvasHiddenTime ease-in-out, index 0.001s ease-in-out $canvasHiddenTime;
                    touch-action: none;
                }
                .canvasHidden {
                    opacity: 0;
                    z-index: -1;
                    transition: opacity $canvasHiddenTime ease-in-out, index 0.001s ease-in-out $canvasHiddenTime;
                }
                .fixCancasFlickerPic {
                    display: block;
                    @include position(absolute, 0, 0);
                    aspect-ratio: attr(400) / attr(317); 
                }
                .hidden {
                    z-index: -2;
                    display: none;
                }
            }
            @include md {
                margin: 0 -2rem;
            }
        }
        @include md {
            padding-top: 4.4rem;
            min-height: unset;
        }
        @include sm {
            padding-top: 3rem;
        }
        @include xs {
            padding-top: 2.8rem;
        }
    }
}

